@model IEnumerable<THUD_TN408.Models.Order>

@{
    ViewData["Title"] = "Danh sách đơn hàng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="pagetitle">
    <h1>Danh sách đơn hàng</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Admin/HomePage/Index">Dashboard</a></li>
            @{
                var user = (User?)ViewData["user"];
                var productName = (string?)ViewData["productName"];
            }
            <li class="breadcrumb-item active"><a href="/Admin/Orders/Index">Danh sách đơn hàng 
                @((user != null) ? (": " + user.Id) : "")
                @((productName != null) ? (": " + productName) : "")</a>
            </li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-12">
        <div class="card shadow">
            <div class="card-body" id="ordersTable">
                <partial name="_ListOrders" model="Model" />
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_OrderScriptsPartial");
    }
}
