@model THUD_TN408.Areas.Admin.Models.ChangePassword
@{
    ViewData["Title"] = "Change password";
    Layout = "/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="pagetitle">
    <h1>Đổi mật khẩu</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Admin/HomePage/Index">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="/Admin/Users/Info">Thông tin tài khoản</a></li>
            <li class="breadcrumb-item active"><a href="/Admin/Users/ChangePassword">Đổi mật khẩu</a></li>
        </ol>
    </nav>
</div>
<div class="row justify-content-center">
    <div class="col-lg-8 col-md-8 col-12">
        <div class="card shadow">
            <div class="card-body">
                <h5 class="card-title text-center">Đổi mật khẩu</h5>
                <form action="SavePassword" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row mb-1">
                        <label asp-for="OldPassword" class="col-md-4 col-form-label fw-bold">Mật khẩu hiện tại:</label>
                        <div class="col-md-8">
                            <input asp-for="OldPassword" class="form-control" placeholder="Mật khẩu hiện tại"/>
                            <span asp-validation-for="OldPassword" class="text-danger small"></span>
                        </div>
                    </div>
                    <div class="row mb-1">
                        <label asp-for="NewPassword" class="col-md-4 col-form-label fw-bold">Mật khẩu mới:</label>
                        <div class="col-md-8">
                            <input asp-for="NewPassword" class="form-control" placeholder="Mật khẩu mới" />
                            <span asp-validation-for="NewPassword" class="text-danger small"></span>
                        </div>
                    </div>
                    <div class="row mb-1">
                        <label asp-for="ConfirmPassword" class="col-md-4 col-form-label fw-bold">Xác nhận mật khẩu:</label>
                        <div class="col-md-8">
                            <input asp-for="ConfirmPassword" class="form-control" placeholder="Xác nhận mật khẩu" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger small"></span>
                        </div>
                    </div>
                    <div class="d-flex">
                        <input type="submit" value="Lưu mật khẩu" class="mx-auto mt-1 btn btn-sm btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}