@model IPagedList<THUD_TN408.Models.Warehouse>

@{
    ViewData["Title"] = "Danh sách kho";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="pagetitle">
    <h1>Danh sách kho</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Admin/HomePage/Index">Dashboard</a></li>
            <li class="breadcrumb-item active"><a href="/Admin/Warehouses/Index">Danh sách kho</a></li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-12">
        <div class="card shadow">
            <div class="card-body" id="warehousesTable">
                <partial name="_ListWarehouses" model="Model" />
            </div>
        </div>
    </div>
</div>
