@model IEnumerable<THUD_TN408.Models.ImportDetail>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<partial name="_ListImportDetails" model="Model"/>