@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@model IPagedList<THUD_TN408.Models.Category>


@if (Model != null && Model.Count > 0)
{
    <a asp-action="Create" asp-controller="Categories" class="btn btn-sm btn-outline-primary fw-bold position-absolute top-0 end-0 m-3">Thêm &nbsp;<i class="fa fa-plus"></i></a>
    <h5 class="card-title text-center">Danh sách danh mục sản phẩm</h5>
    <table class="table datatable table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>
                    Tên loại
                </th>
                <th>Trạng thái</th>
                <th>Tùy chọn</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <partial name="_Category" model="item" />
            }
        </tbody>
    </table>
    @if (!Model.IsFirstPage || !Model.IsLastPage)
    {
        <nav>
            @Html.PagedListPager(Model, page => Url.ActionLink("Paging", "Categories", new { page = page }), new PagedListRenderOptions()
            {
                ActiveLiElementClass = "active",
                PageClasses = new[]{ "page-link"},
                LiElementClasses=new[] { "page-item" },
                LinkToFirstPageFormat = "<i class=\"fa fa-angles-left\"></i>",
                LinkToLastPageFormat = "<i class=\"fa fa-angles-right\"></i>",
                UlElementClasses = new[] { "pagination", "pagination-sm","justify-content-center", "mt-3" },
                LinkToNextPageFormat = "<i class=\"fa fa-angle-right\"></i>",
                LinkToPreviousPageFormat = "<i class=\"fa fa-angle-left\"></i>",
                MaximumPageNumbersToDisplay = 4,
                DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded,
                DisplayLinkToNextPage = PagedListDisplayMode.IfNeeded
            })
        </nav>
    }
}
else
{
    <h6 class="card-title text-center">Danh sách danh mục trống!</h6>
    <div class="d-flex">
        <a asp-action="Create" asp-controller="Categories" class="btn btn-sm btn-primary mx-auto">Thêm danh mục mới</a>
    </div>
}
<script>
    var links = document.querySelectorAll(".page-link");
    links.forEach(link => {
        link.addEventListener("click", ()=>{
            event.preventDefault();
            var url = link.href.substr(location.origin.length, 99)
            $.ajax({
                type: "GET",
                url: url
            }).done(response => {
                $("#categoriesTable").html(response)
            })
        })
    })
    makeDataTable()
</script>