@model IPagedList<THUD_TN408.Models.Product>
<table class="table table-hover datatable">
    <thead>
        <tr>
            <th>ID</th>
            <th>
                Tên sản phẩm
            </th>
            <th>
                Xuất xứ
            </th>
            <th>
                Trạng thái
            </th>
            <th>Tùy chọn</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <partial name="_Product" model="product" />
        }
    </tbody>
</table>