@model IEnumerable<THUD_TN408.Models.History>
@using Microsoft.AspNetCore.Identity
@inject UserManager<User> UserManager

<a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
    <i class="fa fa-bell"></i>
    @{
        int total = 0;
        if (Model != null && Model.Any()) total = Model.Count();
    }
    <span class="badge bg-primary badge-number">@total</span>
</a><!-- End Notification Icon -->

<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications" style="width: 350px">
    <li class="dropdown-header">
        Bạn có @total thông báo mới
    </li>
    @if(Model != null){

        foreach (var notif in (total > 4)? Model.Take(4) : Model)
        {
            <partial name="_NotificationItem" model="notif"/>
        }
    }

    <li>
        <hr class="dropdown-divider">
    </li>
    @{
        string? id = (await UserManager.GetUserAsync(User))?.Id;
    }
    <li class="dropdown-footer">
        <a asp-action="Index" asp-route-userId="@id" asp-controller="Histories" class="btn btn-sm btn-light text-decoration-none">Xem tất cả thông báo</a>
    </li>
</ul>