@model THUD_TN408.Models.History
<li>
    <hr class="dropdown-divider">
</li>
<li class="notification-item">
    <div>
        <p>@Model.Message</p>
        @{
            TimeSpan span = DateTime.Now.Subtract(Model.CreatedAt);
        }
        <p>@span.Minutes phút trước</p>

        @if(Model.TargetUrl != null){
            <p><a href="@Model.TargetUrl" class="text-decoration-none text-primary">Xem chi tiết</a></p>
        }
		
    </div>
</li>