@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    string username = "", useremail = "";
    if(User.Identity != null){
        User user = await UserManager.FindByEmailAsync(User.Identity.Name);
        if(user != null){
            username = user.FirstName +" "+ user.LastName;
            useremail = user.Email;
        }
    }
}

<a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
    <img src="~/images/profile-img.jpg" alt="Profile" class="rounded-circle">
    <span class="d-none d-md-block dropdown-toggle ps-2">@username</span>
</a>

<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
    <li class="dropdown-header">
        <h6>@username</h6>
        <span>@useremail</span>
    </li>
    <li>
        <hr class="dropdown-divider">
    </li>

    <li>
        <a class="dropdown-item d-flex align-items-center" href="/Admin/Users/Info">
            <i class="bi bi-person"></i>
            <span>Thông tin tài khoản</span>
        </a>
    </li>
    <li>
        <hr class="dropdown-divider">
    </li>

    <li>
        <a class="dropdown-item d-flex align-items-center" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <i class="bi bi-box-arrow-right"></i>
            <span>Đăng xuất</span>
        </a>
    </li>

</ul>