@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<div class="row justify-content-center mt-5">
    <div class="col-md-6 col-12">
        <div class="card shadow">
            <div class="card-body">
                <h5 class="card-title text-center">Nhập địa chỉ email</h5>
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row mb-2 justify-content-center">
                        <div class="col-9">
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" placeholder="Email" aria-required="true"/>
                            <span asp-validation-for="Input.Email" class="text-danger small"></span>
                        </div>
                    </div>
                    <div class="d-flex">
                        <button type="submit" class="btn btn-sm mx-auto btn-primary">Xác nhận</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
