@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<div class="row justify-content-center mt-5">
    <div class="col-md-8 col-12">
        <div class="card shadow">
            <div class="card-body">
                <h5 class="text-center">
                    Xin kiểm tra email để đặt lại mật khẩu!
                </h5>
            </div>
        </div>
    </div>
</div>