@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Resend email confirmation";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<div class="row justify-content-center mt-5">
    <div class="col-md-6 col-12">
        <div class="card shadow">
            <div class="card-body">
                <h5 class="card-title text-center">Gửi lại email xác nhận</h5>
                <form method="post">
                    <div asp-validation-summary="All" class="text-danger text-decoration-none"></div>
                    <div class="row mb-1 justify-content-center">
                        <label asp-for="Input.Email" class="col-3 col-form-label fw-bold">Email:</label>
                        <div class="col-9">
                            <input asp-for="Input.Email" class="form-control" placeholder="Email" />
                            <span asp-validation-for="Input.Email" class="text-danger small"></span>
                        </div>
                    </div>
                    <div class="d-flex">
                        <input type="submit" value="Xác nhận" class="mx-auto mt-1 btn btn-sm btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
