@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<div class="row justify-content-center mt-5">
    <div class="col-md-8 col-12">
        <div class="card shadow">
            <div class="card-body">
                <h5 class="text-center">
                    Mật khẩu đã được đặt lại. Nhấn vào <a asp-page="./Login">đây</a> để đăng nhập.
                </h5>
            </div>
        </div>
    </div>
</div>
