@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@model THUD_TN408.Models.Product

@{
    ViewData["Title"] = "Chi tiết sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="pagetitle">
    <h1>Thông tin chi tiết sản phẩm</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Admin/HomePage/Index">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="/Admin/Products/Index">Danh sách sản phẩm</a></li>
            <li class="breadcrumb-item"><a href="/Admin/Products/Details/@Model.Id">@Model.Name</a></li>
            <li class="breadcrumb-item active"><a href="/Admin/Products/Details/@Model.Id">Chi tiết</a></li>
        </ol>
    </nav>
</div>
<div class="row justify-content-center">
    <div class="col-lg-4 col-md-4">
        <div class="card shadow">
            <div class="card-body">
                <h5 class="card-title text-center">Tùy chọn</h5>
                <div class="list-group">
                    <a asp-action="Create" asp-controller="ProductDetails" asp-route-productId="@Model.Id" class="list-group-item list-group-item-action"><i class="fa fa-plus text-success me-2"></i>Thêm chi tiết sản phẩm</a>
                    <a asp-action="Create" asp-controller="ProductPromotions" asp-route-productId="@Model.Id" class="list-group-item list-group-item-action"><i class="fa fa-plus text-success me-2"></i>Thêm khuyến mãi</a>
                 </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-md-8 col-12">
        <div class="card shadow">
            <div class="card-body">
                <partial name="_ProductInfo" model="Model"/>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card shadow">
            <div class="card-body" id="pagingDetail">
                @{
                    IPagedList<ProductDetail>? details = (IPagedList<ProductDetail>?)ViewData["ListDetails"];
                    ViewData["productId"] = Model.Id;
                }
                <partial name="_ListProductDetails" model="details" view-Data="ViewData"/>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card shadow">
            <div class="card-body" id="promotionsTable">
                @{
                    IPagedList<ProductPromotion>? promotions = (IPagedList<ProductPromotion>?)ViewData["ListPromotions"];
                    ViewData["productId"] = Model.Id;
                }
                <partial name="_ListProductPromotions" model="promotions" view-data="ViewData"/>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ProductScriptsPartial");
    }
}