@model THUD_TN408.Models.Product

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="pagetitle">
    <h1>Chỉnh sửa thông tin sản phẩm</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Admin/HomePage/Index">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="/Admin/Products/Index">Danh sách sản phẩm</a></li>
            <li class="breadcrumb-item"><a href="/Admin/Products/Details/@Model.Id">@Model.Name</a></li>
            <li class="breadcrumb-item active"><a href="/Admin/Products/Edit/@Model.Id">Chỉnh sửa</a></li>
        </ol>
    </nav>
</div>
<div class="row justify-content-center">
    <div class="col-md-10 col-12">
        <div class="card shadow">
            <div class="card-body">
                <h5 class="card-title text-center">Thông tin chỉnh sửa</h5>
                <form asp-action="Edit" onsubmit="handleSubmit()">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="row mb-1 justify-content-center">
                        <label asp-for="Name" class="col-3 col-form-label fw-bold">Tên sản phẩm:</label>
                        <div class="col-9">
                            <input asp-for="Name" class="form-control" placeholder="Giày Adidas AlphaBounce ..." />
                            <span asp-validation-for="Name" class="text-danger small"></span>
                        </div>
                    </div>
                    <div class="row mb-1 justify-content-center">
                        <label asp-for="Origin" class="col-3 col-form-label fw-bold">Nơi sản xuất:</label>
                        <div class="col-9">
                            <input asp-for="Origin" class="form-control" placeholder="Việt Nam" />
                            <span asp-validation-for="Origin" class="text-danger small"></span>
                        </div>
                    </div>
                    <input type="hidden" id="real_description" asp-for="Description" />
                    <div class="row mb-auto justify-content-center">
                        <label asp-for="Description" class="col-3 col-form-label fw-bold">Mô tả:</label>
                        <div class="col-9">
                            <div id="description">
                                @Html.Raw(Model.Description)
                            </div>
                        </div>
                        <span asp-validation-for="Description" class="text-danger small"></span>
                    </div>
                    <div class="row mt-5 mb-1 justify-content-center">
                        <label asp-for="ProducerId" class="col-3 col-form-label fw-bold">Nhà cung cấp:</label>
                        <div class="col-9">
                            <select asp-for="ProducerId" class="form-control" asp-items="ViewBag.ProducerId"></select>
                        </div>
                    </div>
                    <div class="row mb-1 justify-content-center">
                        <label asp-for="CategoryId" class="col-3 col-form-label fw-bold">Danh mục:</label>
                        <div class="col-9">
                            <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                        </div>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="IsActive" />
                            Đang kinh doanh?
                        </label>
                    </div>
                    <div class="d-flex">
                        <input type="submit" value="Lưu chỉnh sửa" class="mx-auto mt-1 btn btn-sm btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        let jdQuill = new Quill('#description', {
            theme: 'snow'
        });
        function handleSubmit() {
            document.getElementById('real_description').value = jdQuill.root.innerHTML;
        };
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
