@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@model THUD_TN408.Models.Category

@{
    ViewData["Title"] = "Chi tiết danh mục";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="pagetitle">
    <h1>Chi tiết danh mục</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Admin/HomePage/Index">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="/Admin/Categories/Index">Danh mục sản phẩm</a></li>
            <li class="breadcrumb-item"><a href="/Admin/Categories/Details/@Model.Id">@Model.Name</a></li>
            <li class="breadcrumb-item active"><a href="/Admin/Categories/Details/@Model.Id">Chi tiết</a></li>
        </ol>
    </nav>
</div>
<div class="row justify-content-center">
    
    <div class="col-lg-6 col-md-7 col-12">
        <div class="card shadow">
            <div class="card-body">
                <h5 class="card-title text-center my-1">Thông tin danh mục</h5>
                <button class="btn btn-sm minimize-toogle" type="button" data-bs-toggle="collapse" data-bs-target="#collapseInfo">
                    <i class="fa fa-chevron-right"></i>
                </button>
                <div class="collapse" id="collapseInfo">
                    <partial name="_CategoryDetail" model="Model"/>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card shadow">
            <div class="card-body">
                @{
                    IPagedList<Product>? products = (IPagedList<Product>?)ViewData["ListProducts"];
                }
                @if(products?.Any() == true){
                    <h5 class="card-title text-center">Danh sách sản phẩm</h5>
                        <partial name="_ListProducts" model="products" />
                    @if (!products.IsFirstPage || !products.IsLastPage)
                    {
                        <nav>
                            @Html.PagedListPager(products, page => Url.ActionLink("Details", "Categories", new {id = Model.Id, page = page}), new PagedListRenderOptions()
                            {
                                ActiveLiElementClass = "active",
                                PageClasses = new[]{ "page-link"},
                                LiElementClasses=new[] { "page-item" },
                                UlElementClasses = new[] { "pagination", "pagination-sm","justify-content-center", "mt-3" },
                                LinkToNextPageFormat = ">",
                                LinkToPreviousPageFormat = "<",
                                MaximumPageNumbersToDisplay = 4,
                                DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded,
                                DisplayLinkToNextPage = PagedListDisplayMode.IfNeeded
                            })
                        </nav>
                    }
                }else{
                    <h6 class="card-title text-center">Chưa có sản phầm thuộc danh mục này</h6>
                }
            </div>
        </div>
    </div>
</div>