@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@model THUD_TN408.Models.Category

@{
    ViewData["Title"] = "Chi tiết danh mục";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="pagetitle">
    <h1>Chi tiết danh mục</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Admin/HomePage/Index">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="/Admin/Categories/Index">Danh mục sản phẩm</a></li>
            <li class="breadcrumb-item"><a href="/Admin/Categories/Details/@Model.Id">@Model.Name</a></li>
            <li class="breadcrumb-item active"><a href="/Admin/Categories/Details/@Model.Id">Chi tiết</a></li>
        </ol>
    </nav>
</div>
<div class="row justify-content-center">
    <div class="col-lg-4 col-md-4">
        <div class="card shadow">
            <div class="card-body">
                <h5 class="card-title text-center">Tùy chọn</h5>
                <div class="list-group">
                    <a asp-action="Create" asp-controller="Products" asp-route-categoryId="@Model.Id" class="list-group-item list-group-item-action"><i class="fa fa-plus text-success me-2"></i>Thêm sản phẩm</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-7 col-12">
        <div class="card shadow">
            <div class="card-body">
                <h5 class="card-title title-collapse text-center my-1 collapsed" data-bs-toggle="collapse" data-bs-target="#collapseInfo">Thông tin danh mục</h5>
                <div class="collapse show" id="collapseInfo">
                    <partial name="_CategoryDetail" model="Model"/>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card shadow">
            <div class="card-body" id="productsTable">
                @{
                    IPagedList<Product>? products = (IPagedList<Product>?)ViewData["ListProducts"];
                    ViewData["categoryId"] = Model.Id;
                }
                <partial name="_ListProducts" model="products" view-Data="ViewData"/>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ProductScriptsPartial");
    }
}