@model THUD_TN408.Models.Category

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="pagetitle">
    <h1>Chỉnh sửa thông tin danh mục</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Admin/HomePage/Index">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="/Admin/Categories/Index">Danh sách danh mục</a></li>
            <li class="breadcrumb-item"><a href="/Admin/Categories/Details/@Model.Id">@Model.Name</a></li>
            <li class="breadcrumb-item active"><a href="/Admin/Categories/Edit/@Model.Id">Chỉnh sửa</a></li>
        </ol>
    </nav>
</div>
<div class="row justify-content-center">
    <div class="col-md-6 col-12">
        <div class="card shadow">
            <div class="card-body">
                <h5 class="card-title text-center">Thông tin chỉnh sửa</h5>
                <form asp-action="Edit" id="edit_form">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="row mb-1 justify-content-center">
                        <label asp-for="Name" class="col-5 col-form-label fw-bold">Tên danh mục:</label>
                        <div class="col-7">
                            <input asp-for="Name" class="form-control" placeholder="Tên danh mục" />
                            <span asp-validation-for="Name" class="text-danger small"></span>
                        </div>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="IsActive" />
                            Đang kinh doanh?
                        </label>
                    </div>
                </form>
                <div class="d-flex">
                    <input type="submit" form="edit_form" value="Lưu chỉnh sửa" class="mx-auto btn btn-sm btn-primary" />
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
