@model IPagedList<THUD_TN408.Models.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="pagetitle">
    <h1>Danh mục sản phẩm</h1>
    <nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Admin/HomePage/Index">Dashboard</a></li>
            <li class="breadcrumb-item active"><a href="/Admin/Categories/Index">Danh mục sản phẩm</a></li>
    </ol>
    </nav>
</div>
<div class="row">
    <div class="col-12">
        <div class="card shadow">
            <div class="card-body" id="categoriesTable">
                <partial name="_ListCategories" model="Model"/>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_CategoryScriptsPartial");}
}

