@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@model IPagedList<THUD_TN408.Models.ProductDetail>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="pagetitle">
    <h1>Danh sách các chi tiết sản phẩm</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Admin/HomePage/Index">Dashboard</a></li>
            <li class="breadcrumb-item active"><a href="/Admin/ProductDetails/Index">Danh sách chi tiết sản phẩm</a></li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-12">
        <div class="card shadow">
            <div class="card-body" id="pagingDetail">
                <partial name="_ListProductDetails" model="Model"/>
            </div>
        </div>
    </div>
</div>
