@model THUD_TN408.Models.OrderPromotion

@{
    ViewData["Title"] = "Chi tiết khuyến mãi";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="pagetitle">
    <h1>Thông tin chi tiết khuyến mãi</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Admin/HomePage/Index">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="/Admin/OrderPromotions/Index">Danh sách khuyến mãi</a></li>
            <li class="breadcrumb-item"><a href="/Admin/OrderPromotions/Details/@Model.Id">@Model.Name</a></li>
            <li class="breadcrumb-item active"><a href="/Admin/OrderPromotions/Details/@Model.Id">Chi tiết</a></li>
        </ol>
    </nav>
</div>
<div class="row justify-content-center">
    <div class="col-lg-7 col-md-8 col-12">
        <div class="card shadow">
            <div class="card-body">
                <partial name="_OrderPromotionDetail" model="Model" />
            </div>
        </div>
    </div>
</div>
