@model THUD_TN408.Models.Producer

@{
    ViewData["Title"] = "Thêm nhà cung cấp";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="pagetitle">
    <h1>Thêm nhà cung cấp</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Admin/HomePage/Index">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="/Admin/Producers/Index">Danh sách nhà cung cấp</a></li>
            <li class="breadcrumb-item active"><a href="/Admin/Producers/Create">Thêm</a></li>
        </ol>
    </nav>
</div>
<div class="row justify-content-center">
    <div class="col-md-7 col-12">
        <div class="card shadow">
            <div class="card-body">
                <h5 class="card-title text-center">Thông tin nhà cung cấp mới</h5>
                <form asp-action="Create" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row mb-1 justify-content-center">
                        <label asp-for="Name" class="col-3 col-form-label fw-bold">Tên:</label>
                        <div class="col-9">
                            <input asp-for="Name" class="form-control" placeholder="Tên" />
                            <span asp-validation-for="Name" class="text-danger small"></span>
                        </div>
                    </div>
                    <div class="row mb-1 justify-content-center">
                        <label asp-for="PhoneNumber" class="col-3 col-form-label fw-bold">Số điện thoại:</label>
                        <div class="col-9">
                            <input asp-for="PhoneNumber" class="form-control" placeholder="Số điện thoại" />
                            <span asp-validation-for="PhoneNumber" class="text-danger small"></span>
                        </div>
                    </div>
                    <div class="row mb-1 justify-content-center">
                        <label asp-for="Email" class="col-3 col-form-label fw-bold">Email:</label>
                        <div class="col-9">
                            <input asp-for="Email" type="email" class="form-control" placeholder="Email" />
                            <span asp-validation-for="Email" class="text-danger small"></span>
                        </div>
                    </div>
                    <div class="d-flex">
                        <input type="submit" value="Thêm" class="mx-auto mt-1 btn btn-sm btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
